header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 3px black solid;
    gap: 15px;
    background-color: azure;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header img{
    width: 60px;
}